/* [class*="col"]{
    border: 1px solid black;
}
 */

/* commo */
img{
    max-width: 100%;
}
/* header */

header .container-fluid{
    background-color:#2C3E50 ;
    height: 50px;
}

header h2{
    font-size: 1rem;
}

header .row .col-sm-4 i{
    border: 1 solid grey;
}

header ul li{
    list-style: none;
}

/* main */

/* start section */
#start{
    color: white;
}
#start .container-fluid{
    background-color: #1ABC9C;
}

 #start img{
    width: 30%;
 }
 #start hr {
    border: 2px solid white;
 }

 #start h3{
    font-size: 0.8rem;
 }

 /* portfolio section */

 #portfolio .container-fluid{
    background-color: white;
 }

 #portfolio h2{
    font-size: 0.9rem;
 }

/* about section */

#about .container-fluid{
    background-color: #1ABC9C;
    color: white;
}

/* contact sectionb */